<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Add Route</title>
  <div th:replace="~{fragments/header}"></div>
</head>
<body style="font-family: FredokaOne; background-color: #EFF3F3;">
<div class="d-flex vh-100 flex-column">
  <!-- NAVIGATION BAR -->
  <div th:replace="~{fragments/navbar}"></div>

  <!-- SIGN UP FORM -->
  <div class="border align-self-center shadow rounded p-3 my-auto bg-light ">
    <form action="#" th:action="@{/admin/addroute}" th:object="${routeDTO}" class="needs-validation" style="width: 500px;" method="POST"
          novalidate>
      <h1 class="text-left mb-4 mt-3 ms-3">Add New Route</h1>
      <div class="container">
        <div class="row mt-3">
          <div class="col">
            <label for="routeName" class="form-label">Route Name<span
                    class="text-danger">*</span></label>
            <div class="has-validation">
              <input type="text" name="routeName" class="form-control" id="routeName" th:field="*{name}" required/>
              <div class="text-danger" th:text="${firstNameMessage}">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 my-4 text-center">
            <button type="submit" class="btn btn-warning px-4">Add</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>