<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Dashboard</title>
  <div th:replace="~{fragments/header}"></div>
</head>
<body style="font-family: FredokaOne; background-color: #EFF3F3;">
<div class="d-flex vh-100 flex-column">
  <div th:replace="~{fragments/navbar}"></div>
  <div class="container w-75 my-3">
    <div class="row m-1 fs-1">
      <p> Welcome <span class="text-warning" th:text="${user.firstName}"></span>! </p>
    </div>
    <div class="row m-2">
      <div class="col">
        <div class="card text-center">
          <div class="card-header">
            Route Management
          </div>
          <div class="card-body">
            <p class="card-text">Manage routeEntity information and status for your account.</p>
            <a href="/admin/addroute" class="btn btn-warning">Add New Route</a>
            <a href="/admin/resetroutes" class="btn btn-warning">Reset Routes</a>
            <a href="/admin/editroutes" class="btn btn-warning">Edit Routes</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="resetToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Reset Routes</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      All routeEntities and stopEntities have been reset
    </div>
  </div>
</div>

</body>

<script>
  if (${success}){
      const toast = new bootstrap.Toast(document.getElementById('resetToast'));
      toast.show();
  }
</script>
</html>