<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Dashboard</title>
  <div th:replace="~{fragments/header}"></div>
</head>
<body style="font-family: FredokaOne; background-color: #EFF3F3;">
<div class="d-flex vh-100 flex-column">
  <!-- NAVIGATION BAR -->
  <div th:replace="~{fragments/navbar}"></div>

  <!-- SIGN UP FORM -->
  <div class="border align-self-center shadow rounded p-3 my-auto bg-light ">
    <form class="needs-validation" style="width: 500px;" action="/admin/add-route" method="POST"
          novalidate>
      <h1 class="text-left mb-4 mt-3 ms-3">Edit Routes</h1>
      <div class="container">
        <div class="row mt-3">
          <div class="col">
            <ul class="list-group">
              <th:block th:each="routeEntity: ${routeEntities}">
                <li class="list-group-item d-flex justify-content-between align-items-center" th:text="${routeEntity.name}">
                  <a href="/admin/add-route/${routeEntity.id}/add-stops" class="btn btn-warning">Add Stops</a>
              </th:block>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-12 my-4 text-center">
            <button type="submit" class="btn btn-warning px-4">Add</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>