<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Route</title>
  <div th:replace="~{fragments/header}"></div>
</head>
<link rel="stylesheet" href="/styles/student.css" type="text/css"/>

<script>
  $(document).ready(function() {
      $("#finish").click(function() {
          $.ajax({
              url: "/completeroute",
              data: {
                  routeId: "${routeEntity.id}"
              },
              success: function(result) {
                  console.log(result);
                  window.location = $("#finish").val();
              },
              error: function(result) {
                  console.log(result.status);
              }
          });
      });
  });
  $(document).ready(function() {
      $("#nextStop").click(function() {
          $.ajax({
              url: "/completestop",
              data: {
                  stopId: "${currentStop.id}",
                  routeId: "${routeEntity.id}"
              },
              success: function(result) {
                  console.log(result);
                  window.location = $("#nextStop").val();
              },
              error: function(result) {
                  console.log(result.status);
              }
          });
      });
  });
</script>

<body style="font-family: FredokaOne; background-color: #EFF3F3;">
<div class="d-flex vh-100 flex-column">
  <!-- NAVIGATION BAR -->
  <div th:replace="~{fragments/navbar}"></div>

  <div class="border align-self-center shadow rounded p-3 my-auto bg-light container">
    <div class="row border-bottom border-4 pb-3">
      <div class="col">
        <input type="hidden" th:value="${routeEntity.id}" id="routeId" name="routeId">
        <div class="row">
          <h2 th:text="Next Stop: ${currentStop.name}"></h2>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-4 p-4 ps-5">
        <h5>Students Departing:</h5>
        <p class="text-danger"
           style="font-size: 9pt; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
          Ensure that all students departing at this stopEntity have exited the bus</p>
        <div class="overflow-auto border rounded" style="height: 400px; background-color: #EFF3F3;">
          <th:block th:if="${empty students}">
            <div class="text-center w-100 h-100">
              <span class=" align-middle text-muted">No Students Departing</span>
            </div>
          </th:block>
          <th:block th:if="${not #lists.isEmpty(students)}">
            <ul class="list-group">
              <th:block th:each="student: ${students}">
                <li class="list-group-item bg-light">
                  <input class="form-check-input me-1" type="checkbox"
                         th:value="${student.id}" id="student${student.id}">
                  <label class="form-check-label stretched-link"
                         for="student${student.id}"
                         th:text="${student.firstName} ${student.lastName}"></label>
                </li>
              </th:block>
            </ul>
          </th:block>
        </div>
        <th:block th:if="${nextStop == null}">
          <button id="finish" class="btn btn-warning mt-2 w-100 disabled" value="/driver">Finish Route</button>
          <a href="/driver" class="btn btn-warning mt-2 w-100 disabled" id="finish1" hidden>Finish
            Route</a>
        </th:block>
        <th:block th:if="${nextStop != null}">
          <button id="nextStop" class="btn btn-warning mt-2 w-100 disabled"
                  th:value="/driver/routeEntity/${routeEntity.id}/stopEntity/${nextStop.id}">Next Stop
          </button>
          <a href="/driver/routeEntity/${routeEntity.id}/stopEntity/${nextStop.id}"
             class="btn btn-warning mt-2 w-100 disabled" id="nextStop1" hidden>Next Stop</a>
        </th:block>

      </div>
    </div>
  </div>
</div>
</body>

<script>
  let nextButton = document.getElementById('nextStop');
  let finishButton = document.getElementById('finish');
  let checkboxes = document.querySelectorAll('input[type=checkbox]');

  if (finishButton == null) {
      checkboxes.forEach(function (checkbox) {
          checkbox.addEventListener('click', function () {
              var allChecked = true;
              checkboxes.forEach(function (checkbox) {
                  if (!checkbox.checked) {
                      allChecked = false;
                  }
              });

              if (allChecked) {
                  nextButton.classList.remove('disabled');
              } else {
                  nextButton.classList.add('disabled');
              }
          });
      });
  } else if (nextButton == null) {
      checkboxes.forEach(function (checkbox) {
          checkbox.addEventListener('click', function () {
              var allChecked = true;
              checkboxes.forEach(function (checkbox) {
                  if (!checkbox.checked) {
                      allChecked = false;
                  }
              });

              if (allChecked) {
                  finishButton.classList.remove('disabled');
              } else {
                  finishButton.classList.remove('disabled');
              }
          });
      });
  }

</script>
</html>